<div  id="pins" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
        <br />
        <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
